<div class="container  mt-5 py-5">
    <div class="row m-0">
        <div class="col-sm-8 p-0">
            <h2 class="title text-center text-white py-2 rounded-5">RESOURCES</h2>
            <p class="m-0 fw-semibold pt-4">
                Getting ready for an interview or updating your resume? We've got you covered with a curated list of resources to make the process smooth and successful! Check out our collection of interview tips for insights on handling common questions and effective communication.
            </p>
            <!---  -->
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <!--- RESOURCES  -->
    <div class="row m-0 py-5">
        <div class="col-sm-7 d-none d-md-block col-md-12 col-xl-7">
            <div class="resources d-flex rounded-3">
                <div class="icon p-3 rounded-start">
                    <img src="assets/images/cv.png" alt="" width="80px">
                </div>
                <div class="content d-flex justify-content-center align-items-center ps-4">
                    <a href="https://www.indeed.com/career-advice/resumes-cover-letters/how-to-make-a-resume-with-examples" class="text-decoration-none fw-semibold fs-4" target="_blank">
                        How To Make a Comprehensive Resume (With Examples)
                    </a>
                </div>
            </div>
            <div class="resources d-flex rounded-3 mt-4">
                <div class="icon p-3 rounded-start">
                    <img src="assets/images/job.png" alt="" width="80px">
                </div>
                <div class="content d-flex justify-content-center align-items-center ps-4">
                    <a href="https://www.indeed.com/career-advice/interviewing/job-interview-practice" class="text-decoration-none fw-semibold fs-4" target="_blank">
                        Job Interview: Practicing Your Answers and Presentation
                    </a>
                </div>
            </div>
            <div class="resources d-flex rounded-3 mt-4">
                <div class="icon p-3 rounded-start">
                    <img src="assets/images/cover.png" alt="" width="80px">
                </div>
                <div class="content d-flex justify-content-center align-items-center ps-4">
                    <a href="https://capd.mit.edu/resources/how-to-write-an-effective-cover-letter/" class="text-decoration-none fw-semibold fs-4" target="_blank">
                        How to write an effective cover letter (with samples)
                    </a>
                </div>
            </div>
            <div class="resources d-flex rounded-3 mt-4">
                <div class="icon p-3 rounded-start">
                    <img src="assets/images/network.png" alt="" width="80px">
                </div>
                <div class="content d-flex justify-content-center align-items-center ps-4">
                    <a href="https://www.indeed.com/career-advice/finding-a-job/how-to-network-for-a-job" class="text-decoration-none fw-semibold fs-4" target="_blank">
                        How To Make a Comprehensive Resume (With Examples)
                    </a>
                </div>
            </div>
        </div>
        <!--- RESPONSIVE   -->
        <div class="col-sm-7 d-md-none">
            <div class="resource-responsive d-flex flex-column justify-content-center align-items-center p-3">
                <div class="icon-responsive p-4 rounded-circle d-flex justify-content-center align-items-center">
                    <img src="assets/images/cv.png" alt="" width="80px">
                </div>
                <a href="https://www.indeed.com/career-advice/resumes-cover-letters/how-to-make-a-resume-with-examples" class="text-decoration-none fw-semibold fs-4 text-center pt-4" target="_blank">
                    How To Make a Comprehensive Resume (With Examples)
                </a>
            </div>

            <div class="resource-responsive d-flex flex-column justify-content-center align-items-center p-3">
                <div class="icon-responsive p-4 rounded-circle d-flex justify-content-center align-items-center">
                    <img src="assets/images/job.png" alt="" width="80px">
                </div>
                <a href="https://www.indeed.com/career-advice/interviewing/job-interview-practice" class="text-decoration-none fw-semibold fs-4 text-center pt-4" target="_blank">
                    How To Make a Comprehensive Resume (With Examples)
                </a>
            </div>

            <div class="resource-responsive d-flex flex-column justify-content-center align-items-center p-3">
                <div class="icon-responsive p-4 rounded-circle d-flex justify-content-center align-items-center">
                    <img src="assets/images/cover.png" alt="" width="80px">
                </div>
                <a href="https://capd.mit.edu/resources/how-to-write-an-effective-cover-letter/" class="text-decoration-none fw-semibold fs-4 text-center pt-4" target="_blank">
                    How To Make a Comprehensive Resume (With Examples)
                </a>
            </div>
            <div class="resource-responsive d-flex flex-column justify-content-center align-items-center p-3">
                <div class="icon-responsive p-4 rounded-circle d-flex justify-content-center align-items-center">
                    <img src="assets/images/network.png" alt="" width="80px">
                </div>
                <a href="https://www.indeed.com/career-advice/finding-a-job/how-to-network-for-a-job" class="text-decoration-none fw-semibold fs-4 text-center pt-4" target="_blank">
                    How To Make a Comprehensive Resume (With Examples)
                </a>
            </div>

        </div>
        <!--- IMAGE SECTION -->
        <div class="col-sm-4 col-md-12 d-flex justify-content-center align-items-center pt-5 col-xl-4">
            <img src="assets/images/interview.png" alt="" width="300px" class="resource-img">
        </div>
    </div>






</div>
